# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# development.yml is ignored to prevent leaks of api keys
development.yml

# Other stuff
install.log
common.cab
.vagrant
.gradle
out
build
tmp
