# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws


# Mac
.DS_Store

# Maven
log/
target/

# Other stuff
install.log
common.cab
.vagrant
.gradle
out
build
tmp

# format.sh
google-java-format-1.5-all-deps.jar*


# running locally on the project root
plugins
world
*.jar
eula.txt
logs
banned-ips.json
uid.dat
world_the_end
world_nether
whitelist.json
banned-players.json
ops.json
permissions.yml
usercache.json
