# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# docker-compose.yml is ignored to prevent leaks of api keys
docker-compose.yml
development.yml

# Other stuff
install.log
common.cab
.vagrant
.gradle
out
build
tmp

# discordBot
src/discordBot/nohup.out
src/discordBot/key.txt
