#logo-home {
    max-width: 600px;
}

.connectandplaybq {
    margin: 30px 30px 15px 30px;
    background-color: #373737;
    padding:15px;
    max-width: 500px;
}

.connectandplaydc {
    margin: 30px 30px 15px 30px;
    background-color: #ec9f00;
    padding:15px;
    max-width: 500px;
}


#home-features {
    margin-top:64px;
    text-align: center;
}
.home-feature {
    padding:64px;
}


